<!doctype html>
<html>
<head>
    <title>TSV Sauna 10er Tickets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
</head> 


<body>
   <h1>
     <span>TSV Sauna 10er Tickets</span>
     <div class="logo-container">
       <a href="/" data-toogle="back" title="Zurück zum Dashboard">
       <img src="{{ logo_path }}" alt="Logo">
       </a>
     </div>
  </h1>
   <table class="locTable">
   <thead>
    <tr>
       {% for header in aboHeaders %}
       <th>{{header}}</th>
       {% endfor %}
     </tr>
   </thead>     
   <tbody>
      {% for row in aboData %}
      <tr>
         <td>{{row['date']}}</td>
         <td>{{row['id']}}</td>
         <td>{{row['name']}}</td>
         <td>{{row['firstname']}}</td>
         <td>{{row['section']}}</td>
      </tr>
     {% endfor %}
    </tbody>
	 </table>

</body>
</html>

