<!DOCTYPE html>
<html>
<head>
    <title>TSV Zugang</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/access.css') }}">
</head>    
      

<body>
    <h1>
        <div class="location"> &nbsp
        <span> {{ dynamic_activity }} [{{ location_count }}] </span>
        </div>        
     	<div class="logo-container">
     	    <a href="" title="Refresh"> 
     	    <img src="reload.png" width="100" height="100"></a>
     		<a href="{{parentView}}" data-toogle="back" title="Zurück...">
            <img src="{{ logo_path }}"></a>
        </div>        
    </h1>
    <hr class="divrounded">
    <div class="container">
        {% for person in people %}
        <div class="portrait">
            <img src="{{ person.image_path }}" alt="Portrait">
            <p>{{ person.name }}</p>
        </div>
        {% endfor %}
    </div>

</body>
</html>
