<!doctype html>
<html>
<head>
    <title>TSV Kurse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
</head> 


<body>
   <h1>
     <span>TSV Kurse</span>
     <div class="logo-container">
       <a href="/" data-toogle="back" title="Zurück zum Dashboard">
       <img src="{{ logo_path }}" alt="Logo">
       </a>
     </div>
  </h1>
   <table class="locTable">
   <thead>
    <tr>
       {% for header in configHeaders %}
       <th>{{header}}</th>
       {% endfor %}
     </tr>
   </thead>     
   <tbody>
      {% for row in configData %}
      <tr>
         <td>{{row['kurs_id']}}</td>
         <td>{{row['display_Name']}}</td>
         <td>{{row['activity']}}</td>
         <td>{{row['room']}}</td>
         <td>{{row['weekday']}}</td>
         <td>{{row['from_Time']}}</td>
         <td>{{row['to_Time']}}</td>
      </tr>
     {% endfor %}
    </tbody>
	 </table>
   
   <div> Wochentage: 0=Montag,1=Dienstag,2=Mittwoch,3=Donnerstag,4=Freitag,5=Samstag,6=Sonntag</div>

      <script>
         $(function () { $("[data-toggle='back']").tooltip(); });
      </script>   

</body>
</html>

