<!doctype html>
<html>
<head>
    <title>TSV Dashboard</title>
    
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head> 

 <body>
   <h1>
     <span>TSV Zugang Zentrale &nbsp</span>
     <div class="logo-container">
       <img src="{{ logo_path }}" alt="Logo">
      </a>
     </div>
  </h1>
  

      <div class="row">
         <div class="column">
            <ul class="inside blockBorder">
               <div class="header">{{ headerLeft }}</div>
               {% for row in listDataLeft %}
                   <li onclick="location.href='{{row['href']}}'"><a> {{row['title']}} </a></li>
               {% endfor %}
             </ul>
           </div>
          
          <div class="column "> 
            <ul class="inside blockBorder">
              <div class="header">{{ headerRight }}</div>
                {% for row in listDataRight %}
                    <li onclick="location.href='{{row['href']}}'"><a> {{row['title']}} </a></li>
                {% endfor %}
             </ul>
          </div>   
       </div>

	<div class="row">
		<div class="column">	     
    		<ul class="inside blockBorder">
    			<div class="header">{{ headerBL }}</div>
      			{% for row in listDataBL %}
        			<li onclick="location.href='{{row['href']}}'"><a> {{row['title']}} </a></li>
      			{% endfor %}
    		</ul>
		</div>
		
		<div class="column "> 
		<ul class="inside blockBorder">
	       <div class="header">{{ headerBR }}</div>
	         {% for row in listDataBR %}
	             <li onclick="location.href='{{row['href']}}'"><a> {{row['title']}} </a></li>
	         {% endfor %}
	      </ul>
	   </div>   
	</div>		
      
</body>

</html>
