<!doctype html>
<html>
<head>
    <title>TSV Auswertung</title>
</head> 
<style>
	* {
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
	body {
	    background-color: #272b34;
	    font-family: 'Khula', sans-serif;
	    color: white;
	    margin: 0;
	    padding: 2em 1em;
	}
	
	  /* CSS for the header */
	  h1 {
	    align-items: flex-start;
	    display: flex;
	    font-size:3em;  
	    margin-top:0;
	    margin-bottom:0;
	  }
	
	  .logo-container {
	    margin-left: auto;
	  }

	@media (any-pointer: coarse) {
		h1 {font-size:3em; }
	}
</style>


 	<body>
	   	<h1>
	    	<span>TSV Zugang -&nbsp</span>
	     	<span id="location">{{ dynamic_location }}</span>
	     	<div class="logo-container">
	     	    <a href="/" data-toogle="back" title="Zurück zum Dashboard">
	       		<img src="{{ logo_path }}" alt="Logo">
	     	</div>
	  	</h1>
	   	<div id='chart' class='chart'”></div>
	</body>
 
	<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
	<script type='text/javascript'>
  		var graphs = {{graphJSON | safe}};
  		Plotly.plot('chart',graphs,{});
	</script>
    <script>
        $(function () { $("[data-toggle='back']").tooltip(); });
    </script>	
</html>