<!doctype html>
<html>
<style>
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #272b34;
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 1em;
    margin: 0;
  padding: 2em 1em;
}
 
</style>

<body>
  <h1>TSV Zugang - die Daten für den Vorstand ;-)</h1>
  <div id="plot-div">{{ plot_div|safe }}</div>
</body>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
  /* Your JavaScript code */
</script>
</html>