<!doctype html>
<html>
<head>
    <title>TSV Auswertung</title>
</head> 
<style>
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #272b34;
    font-family: 'Khula', sans-serif;
    font-weight: 300;
    color: white;
    line-height: 1em;
    margin: 0;
  padding: 2em 1em;
}

  /* CSS for the header */
  h1 {
    align-items: flex-start;
    display: flex;
  }

  .logo-container {
    margin-left: auto;
  }

</style>


 <body>
   <h1>
     <span>TSV Zugang -&nbsp</span>
     <span id="location">{{ dynamic_location }}</span>
     <div class="logo-container">
       <img src="{{ logo_path }}" alt="Logo">
     </div>
  </h1>
   <div id='chart' class='chart'”></div>
</body>
 
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
</html>