<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Schedule</title>
  <meta name="viewport" content="width=device-width,initial-scale=1"/> 
  <link rel="stylesheet" href="{{ url_for('static', filename='css/omoc.css') }}">
</head>
<body>
	<!-- Header -->
	<h1>
	 <span>TSV Aktuell: {{ today_str }} &nbsp;</span>
	  <div class="logo-container">
		<a href="/" data-toogle="back" title="Zurück zum Dashboard">
		<img src="{{ logo_path }}" alt="Logo">
		</a>
	  </div>
	</h1>	
	
	<!-- Scrollable Schedule Wrapper -->
	<div class="schedule-wrapper">
		<div class="schedule-container">
		  <!-- Time Column with Empty Header Space -->
		  <div class="time-column">
		    <div class="room-header-spacer"></div>
		    {% for minute in range(day_start, day_end+15, 15) %}
		      <div class="time-slot">
		        {{ "%02d:%02d" % (minute // 60, minute % 60) }}
		      </div>
		    {% endfor %}
		  </div>

		  <div class="content-wrapper">
		  
		  <!-- Room Headers -->
		  <div class="room-headers">
		    {% for room, slot_index in room_slots.items() %}
		      <div class="room-header" style="--slot-index: {{ slot_index }};">
		        {{ room }}
		      </div>
		    {% endfor %}
		  </div>
		  
		  <!-- Courses Column without Room Headers -->
		  <div class="courses-column"
		       style="--day-start: {{ day_start }}; --day-end: {{ day_end }};">

		    {% for course in courses %}
		      <div class="course-block"
			     style="
				    --start: {{ course.display_start }};
				    --end: {{ course.display_end }};
				    --slot-index: {{ course.slot_index }};
		           ">
		        <div class="course-text">
		          {{ course.name }}<br><br>
		          @{{ course.room }}
		        </div>
		      </div>
		    {% endfor %}
		  </div> <!--courses-column-->
		  </div> <!-- contentwrapper-->  
	  </div>
	</div>
	<script>
	   $(function () { $("[data-toggle='back']").tooltip(); });
	</script> 
</body>
</html>
