<!doctype html>
<html>
<head>
    <title>TSV Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sublist.css') }}">
</head> 

 <script>
    function showBusyCursor() {
      document.body.classList.add('busy-cursor');
    }

    window.addEventListener('load', function () {
      document.body.classList.remove('busy-cursor');
    });
  </script>

 <body>
   <h1>
     <span>{{sublistheader}}&nbsp</span>
     <div class="logo-container">
     <a href="/" data-toogle="back" title="Zurück zu Dashboard">
       <img src="{{ logo_path }}" alt="Logo">
      </a>
     </div>
  </h1>
 <nav class="center">
  <ul class="inside">
  {% for row in listData %}
    <li onclick="showBusyCursor(); location.href='{{row['href']}}'"><a> {{row['title']}} </a></li>
  {% endfor %}
  </ul>
 </nav>      
 
 
</body>

</html>